<div class="main">

  <h1>
    新規リスト作成
  </h1>

  <div>
    <% @list.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>
    <%= form_for @list,:url => {:action => :create} do |f| %>
      <p>リスト名</p>
      <%= f.text_field :name %>
      <%= f.submit :class=>"square_btn post_btn" %>
    <% end %>

  </div>

</div>
