<div class="main">
  <% @content.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
  <% end %>

  <%= nested_form_for @content,:url => {:action => :update}, html: {id: params[:id]} do |f| %>
    <%= render :partial => "form", :locals => { f: f } %>
  <% end %>

</div>
