<%= form_tag("/contents/create") do %>
  タイトル
  <input name="title">
  <div>
    No.
    <input name="No">
    コレクション
    <input name="collection">
    役職
    <%= select :CreatorBelongsToCollection,:position,CreatorBelongsToCollection.positions.keys.to_a %>
    名前
    <input name="name">
  </div>
  <input type="submit" value="投稿">
<% end %>
